#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

main {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
}

.card {
  padding: 2em;
}

.result {
  font-size: large;
  margin: auto;

  & span {
    color: purple;
    font-size: 1.5rem;
    margin: 1rem 0.5rem;
    border: 1px solid grey;
    width: 4rem;
    display: inline-block;
    padding-inline: 0.5rem;
  }
}

.section {
  border: thick solid #5d1414;
  padding: 0.5rem;
  outline: 1rem double #32a1ce;
  outline-offset: 1rem;
  margin: 3rem 2rem;
}